body {
     margin: 0;
    padding-top: 800px;
    text-align: center;
    background-color: lightskyblue;
}

#hobby {
    position: absolute;
    height: 800px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e4b7ed 0%, #c4105b 100%);
    z-index: 9;
}

.parallax {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}

#img {
    width: 400px;
    border-radius: 50%;
}

h1 {

    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
   color: crimson;
}

.line {

    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

p {
    max-width: 800px;
    margin: 25px auto;
    font-size: 40px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    font-family: fantasy;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    background: white;
}

.links {
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 33px;
    font-family:monospace
    font-size: 20px;
}

.links:hover {
    font-size: 25px;
    text-decoration: none;

}

#about {
    padding: 50px;
    font-size: 43px;
    
    
}
html {
    scroll-behavior: smooth;
}

a {
    display: block;
    text-decoration: none;
    color: purple;
    text-shadow: 2px 2px hotpink;
    padding: 8px;
    background-color: #dddddd;
}
li{
    float: left;
}
.art:hover{
    color: blueviolet;
}
h2{
    font-size: 30px;
}
#game a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: palevioletred!important;

}

#contact {
    background:lavender;
}

.contact1 a {
    color: black;
    text-shadow: none;

}

.contact1 h3 {
    display: inline;
}


img{
    height: 400px;
    width: 400px;
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
#about{
    background-color:indigo;
    
}
#favhobby{
    background-color: hotpink;
}
#work{
    background-color: aqua;
}
#inspiration{
    background-color:navy;
}
#app{
   background-color:yellow;
}
#game{
    background-color:orange;
}
#chatbot{
    background-color:red;
}
